@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

h1 {
    font-size: 24px;
    font-weight: 700;
    margin: 0;
}

.bold {
    font-weight: 600;
}

.semi-bold {
    font-weight: 500;
}

.medium {
    font-weight: 400;
}

.title {
    font-size: 18px;
    font-weight: 600;
}

.subtitle {
    font-size: 16px;
}

.caption {
    font-size: 12px;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right
}

.text-justify {
    text-align: justify;
}

.text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.text-underline {
    text-decoration: underline;
}

.text-grey {
    color: #555;
}

.text-primary {
    color: #00b2ca;
}

.text-red {
    color: #FF0000;
}